body {
  font-family: 'Georgia', serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 0;
}

.filter-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20rem;
  padding-top: 1rem;
  color: #4b2c46;
  background-color: #ffeef4;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #c71585;
  margin-bottom: 2rem;
}

input, select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #d8bfd8;
  background-color: #fffafc;
  color: #4b2c46;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.book-card {
  background-color: #ffe4f2;
  border: 1px solid #d8bfd8;
  border-radius: 16px;
  padding: 1rem;
  width: 210px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: translateY(-5px);
}

.cover {
  width: 10px;
  height: 10px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.summary-stats {
  background-color: #fffafc;
  padding: 1rem;
  margin: 1rem auto 2rem;
  border: 2px dashed #d8bfd8;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(200, 100, 150, 0.08);
}

.summary-stats p {
  margin: 0.5rem;
  flex: 1 1 100%; 
}

button {
  background-color: #c71585;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #a0136d;
}

.input-spinner {
  position: absolute;
  top: 12px;
  right: 15px;
  font-weight: bold;
  color: #c71585;
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

